#wrapper {
  display: grid;
  grid-template-columns: (12, 1fr);
  grid-template-rows: (4, 1fr);
}

header {
  grid-column: span 12;
  background-color: black;
}

.header1 {
  color: white;
  text-align: center;
  font-style: italic;
}

main {
  grid-column: span 12;
}

main audio {
  margin-left: 310px;
  margin-bottom: 24px;
  margin-top: 10px;
}

.mainimg {
  margin-left: 500px;
  padding: 10px;
  width: 140px;
  height: 250px;
  float: left;
}

.maintext {
  margin-right: 500px;
}

.fancybox {
  margin-top: 24px;
  margin-left: 625px;
  padding: 10px;
  width: 250px;
}

.fancybox2 {
  margin-left: 615px;
  padding: 10px;
  width: 250px;
}

.textcenter {
  text-align: center;
}

nav {
  grid-column: span 12;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin:0;
  padding: 0;
}

nav li {
  padding: 0;
  margin: 10px;
  width: 150px;
  background-color: black;
  display: inline-block;
}

nav li a {
  color: red;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  background-color: black;
  display: block;
}

nav li a:hover {
  background-color: grey;
}

footer {
  grid-column: span 12;
  background-color: black;
}

.header2 {
  color: white;
  text-align: center;
  font-size: 25px;
}

footer a {
  font-size: 50px;
}
